header {
  .header_elements {
    background-color: #333333;
    .head_element {
      padding-top: 6px;
      .call_number {
        i {
          color: #ccc;
          margin: 3px 4px;
        }
        p {
          color: #ccc;
          font-size: 14px;
        }
      }
      .lang {
        position: relative;

        ul {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          background-color: #fff;
          padding: 0;
          margin: 0;
          list-style: none;
        }

        li {
          padding: 5px 10px;
          cursor: pointer;

          &:hover {
            background-color: #f0f0f0;
          }
        }

        &:hover ul {
          display: block;
        }

        gap: 1rem;
        i {
          font-size: 10px;
        }
        p {
          color: #ccc;
          font-size: 14px;
        }
      }
    }
    .head_search {
      padding-top: 20px;

      .logo {
        margin-right: 187px;

        img {
          display: block;
        }
      }

      .search_input {
        flex-grow: 1;

        .possit {
          position: relative;

          input {
            width: 524px;
            border-radius: 20px;
            padding: 12px 60px;

            & + i.fa-magnifying-glass {
              position: absolute;
              bottom: 15px;
              left: 17px;
            }
          }
        }
      }

      .head_basically {
        display: flex;

        margin-left: 120px;

        .compare {
          i {
            color: white;
            font-size: 20px;
            margin-left: 16px;
          }
          p {
            margin-right: 15px;
            color: white;
          }
        }
        .wishlist {
          i {
            color: white;
            font-size: 20px;
            margin-left: 16px;
          }
          p {
            margin-right: 15px;
            color: white;
          }
        }
        .cart {
          margin-left: 10px;
          i {
            color: white;
            font-size: 20px;
          }
          p {
            color: white;
            margin-right: 15px;
          }
        }
      }
    }
  }
  $color_1: black;
  $color_2: black;
  $background-color_1: #ffff;
  $background-color_2: #f9f9f9;
  $background-color_3: #f1f1f1;

  .all_nav {
    .dropbtn {
      background-color: $background-color_1;
      color: $color_1;
      padding: 16px;
      font-size: 16px;
      width: 254px;
      position: relative;
      border: none;
      cursor: pointer;
    }
    .dropdown {
      position: relative;
      display: inline-block;
      .arrow1 {
        margin-top: -12px;
        margin-left: 22px;
        font-size: 10px;
      }
      .x {
        display: none;
      }
      i {
        position: absolute;
        z-index: 1;
        font-size: 20px;
        padding-top: 20px;
        padding-left: 20px;
      }
      span {
        margin-top: 30px;
      }
      $background-color_4: #fcb941;
      &:hover {
        .dropdown-content {
          display: block;
        }
        .dropbtn {
          background-color: $background-color_4;
          color: #f0f0f0;
        }
        .arrow1 {
          margin-top: -12px;
          margin-left: 22px;
          font-size: 10px;
        }
        .x {
          display: block;
          color: #f1f1f1;
        }
        i {
          display: none;
          position: absolute;
          z-index: 1;
          font-size: 20px;
          padding-top: 20px;
          padding-left: 20px;
        }
      }
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: $background-color_2;
      min-width: 255px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      a {
        color: $color_2;
        padding: 8px 16px;
        text-decoration: none;
        display: block;
        &:hover {
          background-color: $background-color_3;
        }
      }
    }

    .orders {
      margin-top: 18px;

      ul {
        list-style: none;
        display: flex;
        gap: 40px;

        li {
          &:hover {
            color: #fcb941;
            cursor: pointer;
          }
        }

        #home {
          &:hover {
            .dropdown_home {
              display: block;
            }
          }
        }
      }

      .dropdown_home {
        display: none;
        background-color: #fff;
        box-shadow: 5px 10px #888888;
        position: relative;
        bottom: 18px;
        height: 300px;
        width: 700px;
        a {
          text-decoration: none;
          gap: 30px;
          margin-left: 40px;
          margin-top: 50px;
          color: rgb(115, 112, 112);
          cursor: pointer;

          &:hover {
            color: #fcb941;
          }
        }
        z-index: 1;
      }

      #shop {
        &:hover {
          .dropdown_shop {
            display: block;
          }
        }
      }
      .dropdown_shop {
        display: none;
        background-color: #ccc;
        box-shadow: 5px 10px #888888;
        position: relative;
        bottom: 12px;
        left: 100px;
        height: 325px;
        width: 400px;
        a {
          text-decoration: none;
          gap: 30px;
          width: 100px;
          flex-direction: column;
          margin-top: 50px;
          color: rgb(115, 112, 112);
          cursor: pointer;
  
          &:hover {
            color: #fcb941;
          }
        }
        z-index: 1;
      }


      #product {
        &:hover {
          .dropdown_product {
            display: block;
          }
        }
      }
      .dropdown_product {
        display: none;
        background-color: #ccc;
        box-shadow: 5px 10px #888888;
        position: relative;
        bottom: 12px;
        left: 200px;
        height: 325px;
        width: 400px;
        a {
          text-decoration: none;
          gap: 30px;
          width: 100px;
          flex-direction: column;
          margin-top: 50px;
          color: rgb(115, 112, 112);
          cursor: pointer;
  
          &:hover {
            color: #fcb941;
          }
        }
        z-index: 1;
      }

      #pages {
        &:hover {
          .dropdown_pages {
            display: block;
          }
        }
      }
      .dropdown_pages {
        display: none;
        background-color: #ccc;
        box-shadow: 5px 10px #888888;
        position: relative;
        bottom: 12px;
        left: 280px;
        height: 325px;
        width: 200px;
        a {
          text-decoration: none;
          gap: 30px;
          width: 100px;
          flex-direction: column;
          margin-top: 50px;
          color: rgb(115, 112, 112);
          cursor: pointer;
  
          &:hover {
            color: #fcb941;
          }
        }
        z-index: 1;
      }
      

      #blog {
        &:hover {
          .dropdown_blog {
            display: block;
          }
        }
      }
      .dropdown_blog {
        display: none;
        background-color: #ccc;
        box-shadow: 5px 10px #888888;
        position: relative;
        bottom: 12px;
        left: 370px;
        display: flex;
        flex-direction: column;
        height: 325px;
        width: 200px;
        a {
          text-decoration: none;
          gap: 30px;
          width: 100px;
          flex-direction: column;
          margin-top: 50px;
          color: rgb(115, 112, 112);
          cursor: pointer;
  
          &:hover {
            color: #fcb941;
          }
        }
        z-index: 1;
      }

      
      #elements {
        &:hover {
          .dropdown_elements {
            display: block;
          }
        }
      }
      .dropdown_elements {
        display: none;
        background-color: #ccc;
        box-shadow: 5px 10px #888888;
        position: relative;
        bottom: 12px;
        left: 450px;
        display: flex;
        flex-direction: column;
        height: 325px;
        width: 200px;
        a {
          text-decoration: none;
          gap: 30px;
          width: 100px;
          flex-direction: column;
          margin-top: 50px;
          color: rgb(115, 112, 112);
          cursor: pointer;
  
          &:hover {
            color: #fcb941;
          }
        }
        z-index: 1;
      }
      
    }

  }
}
