header {
  .header_elements {
    background-color: #333333;
    .head_element {
      padding-top: 6px;
      .call_number {
        i {
          color: #ccc;
          margin: 3px 4px;
        }
        p {
          color: #ccc;
          font-size: 14px;
        }
      }
      .lang {
        position: relative;

        ul {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          background-color: #fff;
          padding: 0;
          margin: 0;
          list-style: none;
        }

        li {
          padding: 5px 10px;
          cursor: pointer;

          &:hover {
            background-color: #f0f0f0;
          }
        }

        &:hover ul {
          display: block;
        }

        gap: 1rem;
        i {
          font-size: 10px;
        }
        p {
          color: #ccc;
          font-size: 14px;
        }
      }
    }
    .head_search {
      padding-top: 20px;

      .logo {
        margin-right: 187px;

        img {
          display: block;
        }
      }

      .search_input {
        flex-grow: 1;

        .possit {
          position: relative;

          input {
            width: 524px;
            border-radius: 20px;
            padding: 12px 60px;

            & + i.fa-magnifying-glass {
              position: absolute;
              bottom: 15px;
              left: 17px;
            }
          }
        }
      }

      .head_basically {
        display: flex;

        margin-left: 120px;

        .compare {
          i {
            color: white;
            font-size: 20px;
            margin-left: 16px;
          }
          p {
            margin-right: 15px;
            color: white;
          }
        }
        .wishlist {
          i {
            color: white;
            font-size: 20px;
            margin-left: 16px;
          }
          p {
            margin-right: 15px;
            color: white;
          }
        }
        .cart {
          margin-left: 10px;
          i {
            color: white;
            font-size: 20px;
          }
          p {
            color: white;
            margin-right: 15px;
          }
        }
      }
    }
  }
  $color_1: black;
  $color_2: black;
  $background-color_1: #ffff;
  $background-color_2: #f9f9f9;
  $background-color_3: #f1f1f1;

  .all_nav {
    .row {
      position: relative;
      .dropdown-home {
        position: absolute;
        border: 2px solid black;
        top: 60px;
        background-color: #fff;
        z-index: 999;
        display: none;
      }
      .dropdown-home.active {
        &:hover {
          display: block;
        }
      }
    }
    .dropbtn {
      background-color: $background-color_1;
      color: $color_1;
      padding: 16px;
      font-size: 16px;
      width: 254px;
      position: relative;
      border: none;
      cursor: pointer;
    }
    .dropdown {
      position: relative;
      display: inline-block;
      .arrow1 {
        margin-top: -12px;
        margin-left: 22px;
        font-size: 10px;
      }
      .x {
        display: none;
      }
      i {
        position: absolute;
        z-index: 1;
        font-size: 20px;
        padding-top: 20px;
        padding-left: 20px;
      }
      span {
        margin-top: 30px;
      }
      $background-color_4: #fcb941;
      &:hover {
        .dropdown-content {
          display: block;
        }
        .dropbtn {
          background-color: $background-color_4;
          color: #f0f0f0;
        }
        .arrow1 {
          margin-top: -12px;
          margin-left: 22px;
          font-size: 10px;
        }
        .x {
          display: block;
          color: #f1f1f1;
        }
        i {
          display: none;
          position: absolute;
          z-index: 1;
          font-size: 20px;
          padding-top: 20px;
          padding-left: 20px;
        }
      }
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: $background-color_2;
      min-width: 255px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 999;
      a {
        color: $color_2;
        padding: 8px 16px;
        text-decoration: none;
        display: block;
        &:hover {
          background-color: $background-color_3;
        }
      }
    }

    .orders {
      margin-top: 18px;

      ul {
        list-style: none;
        display: flex;
        gap: 40px;

        li {
          a {
            text-decoration: none;
            color: black;
            &:hover {
              color: #fcb941;
              cursor: pointer;
            }
          }
          position: relative;

          &:hover .dropdown_list {
            display: block;
          }
          .dropdown_list {
            background-color: #fff;
            border: 2px solid black;
            position: absolute;
            z-index: 999;
            display: none;
            width: 200px;
            ul {
              
              display: block;
              li {
                a {
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }

    .clearence {
      margin-top: 20px;
      margin-left: 44px;

      .icon_light {
        .light_near_p {
          margin-left: 10px;
        }
      }
    }
  }
}

section {
  .one_slider {
    p {
      text-align: left;

      color: #fcb941;
      font-size: 25px;
      margin-top: 50px;
    }
    h4 {
      text-align: left;
      font-size: 50px;
      color: black;
      font-weight: 700;
      width: 300px;
    }
    h5 {
      text-align: left;
      color: #333333;
      text-align: left;
    }
    h3 {
      text-align: left;
      color: #fcb941;
      font-size: 50px;
      font-weight: 700;
    }
    #btn {
      text-align: left;
      background-color: #fcb941;
      color: #f0f0f0;
      border: none;
      width: 150px;
      height: 40px;
      text-align: center;
      border-radius: 20px;
    }
  }
  .carousel-control-prev,
  .carousel-control-next {
    font-size: 1rem;
    width: 150px;

    color: #333333;
    background-color: transparent;
    border: none;

    &-icon {
      font-size: 1rem;
      width: 50px;
      height: 20px;
    }
  }

  .product_image {
    .top_product {
      position: absolute;
    }
    .top_product_title {
      position: relative;
      p {
        margin-top: 10px;
        margin-left: 20px;
        margin-bottom: 3px;
      }
      h3 {
        width: 193px;
        margin-left: 21px;
        font-size: 19px;
      }
      a {
        text-decoration: none;
        color: #fcb941;
        margin-left: 21px;
      }
    }
    .Clearence {
      margin-top: 20px;
      position: absolute;
    }
    .clearance_title {
      margin-top: 20px;
      position: relative;
      p {
        margin-left: 20px;
        margin-bottom: 3px;
      }
      h3 {
        width: 193px;
        margin-left: 21px;
        font-size: 19px;
      }
      h4 {
        margin-left: 21px;
        margin-bottom: 1px;
      }
      a {
        text-decoration: none;
        color: #fcb941;
        margin-left: 21px;
      }
    }
    .featured {
      margin-top: 15px;

      position: absolute;
    }
    .featured_title {
      margin-top: 20px;
      position: relative;
      p {
        margin-top: 10px;
        margin-left: 20px;
        margin-bottom: 3px;
      }
      h3 {
        width: 193px;
        margin-left: 21px;
        font-size: 19px;
      }
      h4 {
        margin-left: 21px;
        margin-bottom: 1px;
        font-size: 20px;
      }
      a {
        text-decoration: none;
        color: #fcb941;
        margin-left: 21px;
      }
    }
  }
}

section {
  .grates {
    gap: 30px;
    text-align: center;
    justify-content: center;
    margin-top: 60px;
    h2 {
      gap: 20px;
    }
  }

  .all_cart_slider {
    margin-top: 50px;
    .card {
      margin-left: 30px;
    }
  }
  .back_image {
    margin-top: 70px;
    position: relative;
    .image_title {
      align-items: center;

      position: absolute;
      top: 15px;
      left: 40px;
      height: 120px;

      background-color: #fff;
      .image_title_one {
        h4 {
          color: #fcb941;
          text-align: center;
        }
        p {
          font-size: 20px;
          font-weight: 600;
        }
      }
      .image_title_two {
        p {
          text-align: center;
        }
      }
      .image_button_one {
        button {
          color: #f1f1f1;
          background-color: #fcb941;
          border: none;
          width: 300px;
          height: 40px;
          border-radius: 25px;
        }
      }
    }
  }
}

.deals {
  margin-top: 50px;
  background-color: #f4f7ff;
  .deals_p {
    padding-top: 50px;
    text-align: center;
  }
  .all_deal_cart {
    margin-top: 40px;
    justify-content: space-around;
    .deal_back_image {
      position: relative;
      img {
        height: 450px;
      }
      .deal_back_title {
        position: absolute;
        top: 35px;
        left: 30px;
        .deal_day_p {
          h4 {
            color: #ef837b;
            margin-bottom: 2px;
          }
        }
      }
      .deal_day_price {
        margin-top: 70px;
        p {
          margin-bottom: 3px;
        }
        h3 {
          font-size: 20px;
        }
        h6 {
          color: #fcb941;
        }
      }
      .deal_day_hours {
        margin-top: 60px;
        img {
          width: 170px;
          height: 70px;
        }
      }
    }

    .deal_cart1 {
      margin-left: 15px;
      .card {
        h5 {
          font-size: 14px;
          width: 290px;
          color: #686464;
          margin-bottom: 2px;
        }
        p {
          width: 240px;
          margin-bottom: 3px;
        }
        h4 {
          font-size: 20px;
          color: #fcb941;
        }
      }
    }
    .deal_cart2 {
      margin-left: 15px;
    }
  }
  .deal_button {
    text-align: center;
    margin-top: 40px;
    padding-bottom: 40px;
    button {
      background-color: #f4f7ff;
      border-radius: 20px;
      width: 270px;
      height: 45px;
      &:hover {
        background-color: #fff;
        color: #fcb941;
      }
    }
  }
}

.trending {
  .logo_slider {
    margin-top: 50px;
    button {
      width: 10px;
    }
    img {
      gap: 50px;
      height: 50px;
      width: 10px;
    }
  }
  .product_treding_title {
    .titles_trading {
      margin-top: 80px;
      justify-content: space-between;

      .treding_unders {
        margin-top: 15px;
        ul {
          display: flex;
          gap: 20px;
          li {
            list-style: none;
            font-size: 15px;
          }
        }
      }
    }
  }

  .trading_cartd {
    margin-top: 40px;

  }
}

.social {
  .all_social_icons {
    margin-top: 80px;
    justify-content: space-between;

    .shipping {
      gap: 10px;
      i {
        font-size: 40px;
      }
      .shipping_text {
        h5 {
          margin-bottom: 2px;
        }
      }
    }
    .returns {
      gap: 10px;
      i {
        font-size: 50px;
      }
      .returns_text {
        h5 {
          margin-bottom: 1px;
        }
      }
    }
    .info {
      gap: 10px;
      i {
        font-size: 50px;
      }
      .info_text {
        h5 {
          margin-bottom: 1px;
        }
      }
    }
    .ring {
      gap: 10px;
      i {
        font-size: 50px;
      }
      .ring_text {
        h5 {
          margin-bottom: 1px;
        }
      }
    }
  }

  .social_back_image {
    margin-top: 70px;
    background-image: url(https://d-themes.com/react/molla/demo-3/images/home/bg-2.jpg);
    height: 350px;
    padding-top: 20px;
    padding-left: 20px;
    background-repeat: repeat-x;

    .social_width {
      padding-top: 25px;
      padding-bottom: 70px;
      width: 1077px;
      background-color: #fff;
      margin-left: 10px;
      .social_title1 {
        text-align: center;

        p {
          width: 380px;
          text-align: center;
          margin-left: 60px;
        }
        .all_social {
          gap: 12px;
          justify-content: center;
          .facebook_icons {
            background-color: #8f79ed;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            position: relative;

            i {
              position: absolute;
              top: 12px;
              left: 15px;
              color: #fff;
            }
          }
          .twitter_icons {
            background-color: #79c8ed;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            position: relative;

            i {
              position: absolute;
              top: 12px;
              left: 13px;
              color: #fff;
            }
          }
          .instagram_icons {
            background-color: #f0aea3;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            position: relative;

            i {
              position: absolute;
              top: 12px;
              left: 13px;
              color: #fff;
            }
          }
          .youtube_icons {
            background-color: #e66262;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            position: relative;

            i {
              position: absolute;
              top: 12px;
              left: 12px;
              color: #fff;
            }
          }
          .pinterest_icons {
            background-color: #e66262;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            position: relative;

            i {
              position: absolute;
              top: 12px;
              left: 13px;
              color: #fff;
            }
          }
        }
      }
      .social_title2 {
        h3 {
          text-align: center;
        }
        p {
          text-align: center;
          font-size: 20px;
          span {
            text-align: center;
            color: #fcb941;
          }
        }
        .social_input {
          display: flex;
          position: relative;
          justify-content: center;
          input {
            border-radius: 20px;
            width: 405px;
            height: 45px;
          }
          .input-group-append {
            position: absolute;
            right: 50px;
            top: 0px;
            button {
              width: 70px;
              height: 45px;
              background-color: #fcb941;
              border-top-right-radius: 50px 50px;
              border-bottom-right-radius: 50px 50px;
              border: none;
            }
          }
        }
      }
    }
  }
}

$color_1: #737373;
$color_2: black;
$color_3: #fcb941;
$color_4: #96a2b2;
$color_5: #818a91;
$background-color_1: #fff;
$background-color_2: #33353d;
$background-color_3: #eceeef;
$background-color_4: #29aafe;
$background-color_5: #3b5998;
$background-color_6: #00aced;
$background-color_7: #007bb6;
$background-color_8: #ea4c89;
$border-top-color_1: #bbb;

.site-footer {
  background-color: $background-color_1;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: $color_1;

  .logo_img {
    img {
      width: 100px;
    }
    p {
      width: 300px;
      margin-top: 15px;
    }
    .card {
      width: 300px;
      .card_icon {
        display: flex;
        text-align: center;
        i {
          margin-left: 30px;
          font-size: 30px;
          display: flex;
          align-items: center;
          color: #fcb941;
        }
        .card_title {
          margin-left: 10px;
          p {
            display: flex;
            text-align: center;
            margin-bottom: 1px;
          }
          h3 {
            display: flex;
            text-align: center;
            font-size: 18px;
            cursor: pointer;
            &:hover {
              color: #fcb941;
            }
          }
        }
      }
    }
  }
  hr {
    border-top-color: $border-top-color_1;
    opacity: 0.5;
  }
  hr.small {
    margin: 20px 0;
  }
  h6 {
    color: $color_2;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
  }
  a {
    color: $color_1;
    &:hover {
      color: $color_3;
      text-decoration: none;
    }
  }
  .social-icons {
    text-align: right;
    a {
      width: 40px;
      height: 40px;
      line-height: 40px;
      margin-left: 6px;
      margin-right: 0;
      border-radius: 100%;
      background-color: $background-color_2;
    }
  }
}
.footer-links {
  padding-left: 0;
  list-style: none;
  li {
    display: block;
  }
  a {
    color: $color_1;
    &:active {
      color: $color_3;
      text-decoration: none;
    }
    &:focus {
      color: $color_3;
      text-decoration: none;
    }
    &:hover {
      color: $color_3;
      text-decoration: none;
    }
  }
}
.footer-links.inline {
  li {
    display: inline-block;
  }
}
.copyright-text {
  margin: 0;
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  li {
    display: inline-block;
    margin-bottom: 4px;
  }
  li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: $color_4;
    font-weight: 700;
    font-size: 13px;
  }
  a {
    background-color: $background-color_3;
    color: $color_5;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    &:active {
      color: $color_2;
      background-color: $background-color_4;
    }
    &:focus {
      color: $color_2;
      background-color: $background-color_4;
    }
    &:hover {
      color: $color_2;
      background-color: $background-color_4;
    }
  }
  a.facebook {
    &:hover {
      background-color: $background-color_5;
    }
  }
  a.twitter {
    &:hover {
      background-color: $background-color_6;
    }
  }
  a.linkedin {
    &:hover {
      background-color: $background-color_7;
    }
  }
  a.dribbble {
    &:hover {
      background-color: $background-color_8;
    }
  }
}
.social-icons.size-sm {
  a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
  }
}
@media (max-width: 991px) {
  .site-footer {
    [class^="col-"] {
      margin-bottom: 30px;
    }
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
    .copyright-text {
      text-align: center;
    }
    .social-icons {
      text-align: center;
    }
  }
  .social-icons {
    li.title {
      display: block;
      margin-right: 0;
      font-weight: 600;
    }
  }
}

.shop-list {
  background-image: url(https://d-themes.com/react/molla/demo-3/images/page-header-bg.jpg);
  background-repeat: repeat-y;
  .list_title {
    padding-top: 40px;
    padding-bottom: 35px;
    text-align: center;
    h3 {
      font-size: 40px;
      margin-bottom: 1px;
    }
    p {
      color: #fcb941;
      font-size: 20px;
    }
  }
}

.products_list {
  .list_switch {
    margin-top: 10px;
    gap: 20px;
    p {
      color: #777;
      cursor: pointer;
      &:hover {
        color: #fcb941;
      }
    }
  }
  .list-all_accordion {
    .accordion-title {
      justify-content: space-between;

      h6 {
        color: #fcb941;
        margin-top: 3px;
        font-size: 14px;
      }
    }
    .list_accordion {
      .accordion {
        .accordion-item {
          h2 {
            font-size: 25px;
          }
          button {
            border: none;
            background-color: white;
          }

          .accordion-collapse {
            .accordion-body {
              ul {
                li {
                  list-style: none;
                }
              }
            }
          }
        }
      }
    }
  }

  .bag_products {
    .product-lists {
      display: flex;
      justify-content: space-between;

      .sort_list {
        display: flex;
        gap: 10px;
        margin-left: auto;
      }
    }

    .women_bag {
      margin-top: 30px;
      .bag_img {
        img {
          width: 210px;
        }
      }
      .women_bag_title {
        margin-left: 20px;
        margin-top: 30px;
        p {
          margin-bottom: 1px;
        }
        h4 {
          font-size: 18px;
        }
        h5 {
          margin-top: 10px;
          color: #777;
          font-size: 15px;
          width: 401px;
          font-weight: 400;
        }
        img {
          margin-top: 18px;
          width: 90px;
        }
      }
      .women_bag-price {
        margin-top: 30px;
        .price_list {
          p {
            margin-bottom: 5px;
            color: #fcb941;
          }
        }
        .checked {
          color: orange;
        }
        .wishlist_list {
          margin-top: 12px;
          gap: 10px;
          .view {
            gap: 5px;
            i {
              margin-top: 6px;
            }
            p {
              font-size: 14px;
            }
          }
          .wishlists {
            gap: 5px;
            i {
              margin-top: 6px;
            }
            p {
              font-size: 14px;
            }
          }
        }
        .list_button {
          margin-top: 13px;
          button {
            width: 185px;
            background-color: #fff;
            color: #fcb941;
            height: 40px;
            border-color: #fcb941;
          }
        }
      }
    }
    .swithc_list {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      ul {
        gap: 20px;
        display: flex;
        li {
          list-style: none;
          cursor: pointer;
        }
      }
    }
  }
}

.about {
  .about_back_img {
    background-image: url(https://d-themes.com/react/molla/demo-3/images/page-header-bg.jpg);
    .about_img_title {
      text-align: center;
      h3 {
        padding-top: 40px;
        font-size: 40px;
        font-weight: 400;
        margin-bottom: 1px;
      }
      p {
        color: #fcb941;
        font-size: 20px;
        padding-bottom: 40px;
      }
    }
  }
  .about_switch {
    ul {
      gap: 35px;
      display: flex;
      li {
        list-style: none;
      }
    }
  }

  .about_title {
    margin-top: 70px;
    p {
      margin-top: 18px;
    }
  }
  .about_support {
    margin-top: 60px;
    .design_about {
      i {
        color: #fcb941;
        font-size: 35px;
      }
      h4 {
        margin-top: 20px;
      }
      p {
        width: 313px;
        color: #333;
      }
    }
  }
  .about_client_img {
    margin-top: 50px;
    background-image: url(https://d-themes.com/react/molla/demo-3/images/backgrounds/bg-4.jpg);
    background-repeat: repeat-y;
    .about_total {
      gap: 189px;
      padding-top: 100px;
      padding-bottom: 90px;
      .customer {
        text-align: center;
        h5 {
          color: white;
          font-size: 30px;
        }
        p {
          color: white;
          font-size: 20px;
        }
      }
    }
  }

  .all_about_cart {
    .card {
      .card_img {
        position: relative;

        &:hover .middle {
          display: block;
        }
        img {
          &:hover {
            opacity: 0.3;
          }
        }
        .middle {
          position: absolute;
          left: 70px;
          top: 140px;
          display: none;
          .icons_midle {
            gap: 50px;
          }
        }
      }
      .card-body {
        h6 {
          font-size: 18px;
          margin-bottom: 1px;
        }
      }
    }
  }
  .about_button {
    margin-top: 50px;
    button {
      width: 195px;
      height: 40px;
      background-color: white;
      border-color: #fcb941;
      color: #fcb941;

      &:hover {
        background-color: #fcb941;
        color: white;
      }
    }
  }
}
.brands {
  margin-top: 110px;
  padding-bottom: 38px;
  .brands_title {
    text-align: center;
    h4 {
      text-align: center;
    }

    .brand_icon_one {
      margin-top: 70px;
      justify-content: center;
      gap: 148px;
    }
    .brand_icon_two {
      margin-top: 50px;
      justify-content: center;
      gap: 165px;
      img {
        height: 40px;
      }
    }
  }
}

.contact_back_img {
  background-image: url(https://d-themes.com/react/molla/demo-3/images/page-header-bg.jpg);
  .contact_title {
    padding-top: 40px;
    padding-bottom: 40px;
    h1 {
      margin-bottom: 1px;
    }
    p {
      color: #fcb941;
      font-size: 20px;
    }
  }
}
.contact_swicth {
  margin-top: 10px;
  ul {
    gap: 15px;
    display: flex;
    li {
      list-style: none;
    }
  }
}
.contact_address {
  margin-top: 60px;
  .all_address {
    .address_texts {
      .contact_icons {
        i {
          margin-right: 1rem;
          font-size: 13px;
          cursor: pointer;
          &:hover {
            color: #fcb941;
          }
        }
      }
    }
  }
}

.connect {
  .connect_titles {
    margin-top: 40px;
    padding-bottom: 60px;

    h6 {
      margin-top: 10px;
      color: #fcb941;
      font-size: 18px;
      font-weight: 400;
    }
    p {
      margin-top: 20px;
      color: #666;
    }
    .connect_inputs {
      justify-content: center;
      gap: 30px;
      .connect-input {
        display: flex;
        input {
          background-color: #efeaea;
          border: none;
          padding-left: 20px;
          height: 40px;
        }
      }
    }
    .contact_subject {
      margin-top: 20px;
      input {
        width: 666px;
        height: 40px;
        background-color: #efeaea;
        border: none;
        padding-left: 20px;
      }
      .textarea_contact {
        margin-top: 20px;
        #textar {
          width: 666px;
          height: 170px;
          background-color: #efeaea;
          border: none;
          padding-top: 10px;
          padding-left: 20px;
        }
      }
      button {
        margin-top: 18px;
        border-color: #fcb941;
        background-color: white;
        color: #fcb941;
        width: 110px;
        height: 39px;
        &:hover {
          background-color: #fcb941;
          color: white;
        }
      }
    }
  }
}

.login_switch {
  ul {
    display: flex;
    gap: 10px;
    li {
      list-style: none;
    }
  }
}
.login_back_img {
  background-image: url(https://d-themes.com/react/molla/demo-3/images/backgrounds/login-bg.jpg);
}

.all-login {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.login_register {
  background-color: white;
  width: 600px;
  height: 550px;

  display: flex;
  flex-direction: column;
  align-items: center;
  .additional-options {
    gap: 40px;
    padding-bottom: 30px;
    button {
      border-color: #fcb941;
      background-color: #fff;
      color: #fcb941;
      width: 110px;
      height: 40px;
      margin-top: 20px;
      &:hover {
        background-color: #fcb941;
        color: #fff;
      }
    }
    .remember-me {
      a {
        margin-left: 25px;
        text-decoration: none;
        color: #777;
        &:hover {
          color: #fcb941;
        }
      }
    }
  }
  .login_fac_buttons {
    gap: 40px;
    .icon_button {
      button {
        position: relative;
        width: 209px;
        height: 43px;
        background-color: #fff;
        border-color: #cfcfcf;
      }
      .icon_google {
        position: absolute;

      }
    }
  }
}

.login_text {
  padding-top: 50px;
  gap: 100px;
}

.input-label {
  width: 80%;
  margin-top: 25px;
  padding-left: 5px;
  padding-right: 5px;
}

.input-field {
  width: 78%;
  padding-left: 5px;
  padding-right: 5px;
  height: 45px;
}
.default {
  .deault_swicth {
    justify-content: space-between;
    ul {
      display: flex;
      gap: 10px;
      li {
        list-style: none;
      }
    }
  }
}

.default_switch_img {
  .all_default_elements {
    .click_img {
      img {
        width: 100px;
        margin-top: 5px;
      }
    }
    .information_elements {
      margin-left: 15px;
      img {
        width: 400px;
        height: 420px;
      }
      .defaul_img_texts {
        margin-left: 30px;
        h5{
          color: #fcb941;
          font-size: 25px;
        }
        .customize_color {
          gap: 20px;
          img {
            height: 20px;
            width: 80px;
          }
        }
        .customize_size {
          gap: 30px;
          .list_custm {
            margin-top: 5px;
            gap: 8px;
            i {
              margin-top: 5px;
            }
          }
        }
        .customize_count {
          margin-top: 10px;
          gap: 30px;

          button {
            width: 20px;
            height: 25px;
            border: none;
            background-color: #fff;
            i {
              font-size: 10px;
              text-align: center;
            }
          }
        }
        .addtocart {
          gap: 30px;
          padding-bottom: 15px;
          button {
            width: 166px;
            background-color: #fff;
            border-color: #fcb941;
            color: #fcb941;
            height: 40px;
          }
          .wishlist {
            gap: 10px;
            margin-top: 5px;
            i {
              margin-top: 5px;
              color: #fcb941;
            }
            p {
              &:hover {
                color: #fcb941;
                cursor: pointer;
              }
            }
          }
        }
        .default_share {
          gap: 15px;
          .default_icons {
            margin-top: 5px;
            gap: 20px;
            i {
              cursor: pointer;
              &:hover {
                color: #fcb941;
              }
            }
          }
        }
      }
    }
  }
}
.comment-default{
  margin-top: 35px;
  .comment_title{
    display: flex;
    justify-content: center;
    ul{
      gap: 70px;
      display: flex;
      li{
        cursor: pointer;
        font-size: 18px;
      list-style: none;
      &:hover{
        color: #fcb941;
      }
      }
    }
  }
  .card{
    .cart_default{
      margin-left: 30px;
      h5{
        padding-top: 20px;
        font-size: 17px;
      }
      p{
        margin-top: 10px;
      }

    }
  }
}
.default_carusel{
  margin-top: 50px;
  
  .carusel_title{
    justify-content: center;
  }
  .carusel_cart{
    gap: 40px;
    margin-top: 30px;
    .card{
      border: none;
      #img_carsu{
        height: 250px;
      }
      .card-body{
 h6{
  color: #fcb941;
 }
      }
    }
  }
}
