header .header_elements {
  background-color: #333333;
}
header .header_elements .head_element {
  padding-top: 6px;
}
header .header_elements .head_element .call_number i {
  color: #ccc;
  margin: 3px 4px;
}
header .header_elements .head_element .call_number p {
  color: #ccc;
  font-size: 14px;
}
header .header_elements .head_element .lang {
  position: relative;
  gap: 1rem;
}
header .header_elements .head_element .lang ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 0;
  margin: 0;
  list-style: none;
}
header .header_elements .head_element .lang li {
  padding: 5px 10px;
  cursor: pointer;
}
header .header_elements .head_element .lang li:hover {
  background-color: #f0f0f0;
}
header .header_elements .head_element .lang:hover ul {
  display: block;
}
header .header_elements .head_element .lang i {
  font-size: 10px;
}
header .header_elements .head_element .lang p {
  color: #ccc;
  font-size: 14px;
}
header .header_elements .head_search {
  padding-top: 20px;
}
header .header_elements .head_search .logo {
  margin-right: 187px;
}
header .header_elements .head_search .logo img {
  display: block;
}
header .header_elements .head_search .search_input {
  flex-grow: 1;
}
header .header_elements .head_search .search_input .possit {
  position: relative;
}
header .header_elements .head_search .search_input .possit input {
  width: 524px;
  border-radius: 20px;
  padding: 12px 60px;
}
header .header_elements .head_search .search_input .possit input + i.fa-magnifying-glass {
  position: absolute;
  bottom: 15px;
  left: 17px;
}
header .header_elements .head_search .head_basically {
  display: flex;
  margin-left: 120px;
}
header .header_elements .head_search .head_basically .compare i {
  color: white;
  font-size: 20px;
  margin-left: 16px;
}
header .header_elements .head_search .head_basically .compare p {
  margin-right: 15px;
  color: white;
}
header .header_elements .head_search .head_basically .wishlist i {
  color: white;
  font-size: 20px;
  margin-left: 16px;
}
header .header_elements .head_search .head_basically .wishlist p {
  margin-right: 15px;
  color: white;
}
header .header_elements .head_search .head_basically .cart {
  margin-left: 10px;
}
header .header_elements .head_search .head_basically .cart i {
  color: white;
  font-size: 20px;
}
header .header_elements .head_search .head_basically .cart p {
  color: white;
  margin-right: 15px;
}
header .all_nav .dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  width: 254px;
  position: relative;
  border: none;
  cursor: pointer;
}
header .all_nav .dropdown {
  position: relative;
  display: inline-block;
}
header .all_nav .dropdown .arrow1 {
  margin-top: -12px;
  margin-left: 22px;
  font-size: 10px;
}
header .all_nav .dropdown .x {
  display: none;
}
header .all_nav .dropdown i {
  position: absolute;
  z-index: 1;
  font-size: 20px;
  padding-top: 20px;
  padding-left: 20px;
}
header .all_nav .dropdown span {
  margin-top: 30px;
}
header .all_nav .dropdown:hover .dropdown-content {
  display: block;
}
header .all_nav .dropdown:hover .dropbtn {
  background-color: #fcb941;
  color: #f0f0f0;
}
header .all_nav .dropdown:hover .arrow1 {
  margin-top: -12px;
  margin-left: 22px;
  font-size: 10px;
}
header .all_nav .dropdown:hover .x {
  display: block;
  color: #f1f1f1;
}
header .all_nav .dropdown:hover i {
  display: none;
  position: absolute;
  z-index: 1;
  font-size: 20px;
  padding-top: 20px;
  padding-left: 20px;
}
header .all_nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 255px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header .all_nav .dropdown-content a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}
header .all_nav .dropdown-content a:hover {
  background-color: #f1f1f1;
}
header .all_nav .orders {
  margin-top: 18px;
}
header .all_nav .orders ul {
  list-style: none;
  display: flex;
  gap: 40px;
}
header .all_nav .orders ul li:hover {
  color: #fcb941;
  cursor: pointer;
}
header .all_nav .clearence {
  margin-top: 20px;
  margin-left: 149px;
}
header .all_nav .clearence .icon_light .light_near_p {
  margin-left: 10px;
}

section .one_slider p {
  text-align: left;
  color: #fcb941;
  font-size: 25px;
  margin-top: 50px;
}
section .one_slider h4 {
  text-align: left;
  font-size: 50px;
  color: black;
  font-weight: 700;
  width: 300px;
}
section .one_slider h5 {
  text-align: left;
  color: #333333;
  text-align: left;
}
section .one_slider h3 {
  text-align: left;
  color: #fcb941;
}
section .one_slider #btn {
  text-align: left;
  background-color: #fcb941;
  color: #f0f0f0;
  border: none;
  width: 150px;
  height: 40px;
  text-align: center;
  border-radius: 20px;
}
section .carousel-control-prev,
section .carousel-control-next {
  font-size: 1rem;
  width: 150px;
  color: #333333;
  background-color: transparent;
  border: none;
}
section .carousel-control-prev-icon,
section .carousel-control-next-icon {
  font-size: 1rem;
  width: 50px;
  height: 20px;
}
section .product_image .top_product {
  position: absolute;
}
section .product_image .top_product_title {
  position: relative;
}
section .product_image .top_product_title p {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 3px;
}
section .product_image .top_product_title h3 {
  width: 193px;
  margin-left: 21px;
  font-size: 19px;
}
section .product_image .top_product_title a {
  text-decoration: none;
  color: #fcb941;
  margin-left: 21px;
}
section .product_image .Clearence {
  margin-top: 20px;
  position: absolute;
}
section .product_image .clearance_title {
  margin-top: 20px;
  position: relative;
}
section .product_image .clearance_title p {
  margin-left: 20px;
  margin-bottom: 3px;
}
section .product_image .clearance_title h3 {
  width: 193px;
  margin-left: 21px;
  font-size: 19px;
}
section .product_image .clearance_title h4 {
  margin-left: 21px;
  margin-bottom: 1px;
}
section .product_image .clearance_title a {
  text-decoration: none;
  color: #fcb941;
  margin-left: 21px;
}
section .product_image .featured {
  margin-top: 15px;
  position: absolute;
}
section .product_image .featured_title {
  margin-top: 20px;
  position: relative;
}
section .product_image .featured_title p {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 3px;
}
section .product_image .featured_title h3 {
  width: 193px;
  margin-left: 21px;
  font-size: 19px;
}
section .product_image .featured_title h4 {
  margin-left: 21px;
  margin-bottom: 1px;
  font-size: 20px;
}
section .product_image .featured_title a {
  text-decoration: none;
  color: #fcb941;
  margin-left: 21px;
}

section .grates {
  gap: 30px;
  text-align: center;
  justify-content: center;
  margin-top: 60px;
}
section .grates h2 {
  gap: 20px;
}
section .all_cart_slider {
  margin-top: 50px;
}
section .all_cart_slider .card {
  margin-left: 30px;
}
section .back_image {
  margin-top: 70px;
  position: relative;
}
section .back_image .image_title {
  align-items: center;
  position: absolute;
  top: 15px;
  left: 40px;
  height: 120px;
  background-color: #fff;
}
section .back_image .image_title .image_title_one h4 {
  color: #fcb941;
  text-align: center;
}
section .back_image .image_title .image_title_one p {
  font-size: 20px;
  font-weight: 600;
}
section .back_image .image_title .image_title_two p {
  text-align: center;
}
section .back_image .image_title .image_button_one button {
  color: #f1f1f1;
  background-color: #fcb941;
  border: none;
  width: 300px;
  height: 40px;
  border-radius: 25px;
}/*# sourceMappingURL=style.css.map */