header .header_elements {
  background-color: #333333;
}
header .header_elements .head_element {
  padding-top: 6px;
}
header .header_elements .head_element .call_number i {
  color: #ccc;
  margin: 3px 4px;
}
header .header_elements .head_element .call_number p {
  color: #ccc;
  font-size: 14px;
}
header .header_elements .head_element .lang {
  position: relative;
  gap: 1rem;
}
header .header_elements .head_element .lang ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 0;
  margin: 0;
  list-style: none;
}
header .header_elements .head_element .lang li {
  padding: 5px 10px;
  cursor: pointer;
}
header .header_elements .head_element .lang li:hover {
  background-color: #f0f0f0;
}
header .header_elements .head_element .lang:hover ul {
  display: block;
}
header .header_elements .head_element .lang i {
  font-size: 10px;
}
header .header_elements .head_element .lang p {
  color: #ccc;
  font-size: 14px;
}
header .header_elements .head_search {
  padding-top: 20px;
}
header .header_elements .head_search .logo {
  margin-right: 187px;
}
header .header_elements .head_search .logo img {
  display: block;
}
header .header_elements .head_search .search_input {
  flex-grow: 1;
}
header .header_elements .head_search .search_input .possit {
  position: relative;
}
header .header_elements .head_search .search_input .possit input {
  width: 524px;
  border-radius: 20px;
  padding: 12px 60px;
}
header .header_elements .head_search .search_input .possit input + i.fa-magnifying-glass {
  position: absolute;
  bottom: 15px;
  left: 17px;
}
header .header_elements .head_search .head_basically {
  display: flex;
  margin-left: 120px;
}
header .header_elements .head_search .head_basically .compare i {
  color: white;
  font-size: 20px;
  margin-left: 16px;
}
header .header_elements .head_search .head_basically .compare p {
  margin-right: 15px;
  color: white;
}
header .header_elements .head_search .head_basically .wishlist i {
  color: white;
  font-size: 20px;
  margin-left: 16px;
}
header .header_elements .head_search .head_basically .wishlist p {
  margin-right: 15px;
  color: white;
}
header .header_elements .head_search .head_basically .cart {
  margin-left: 10px;
}
header .header_elements .head_search .head_basically .cart i {
  color: white;
  font-size: 20px;
}
header .header_elements .head_search .head_basically .cart p {
  color: white;
  margin-right: 15px;
}
header .all_nav .dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  width: 254px;
  position: relative;
  border: none;
  cursor: pointer;
}
header .all_nav .dropdown {
  position: relative;
  display: inline-block;
}
header .all_nav .dropdown .arrow1 {
  margin-top: -12px;
  margin-left: 22px;
  font-size: 10px;
}
header .all_nav .dropdown .x {
  display: none;
}
header .all_nav .dropdown i {
  position: absolute;
  z-index: 1;
  font-size: 20px;
  padding-top: 20px;
  padding-left: 20px;
}
header .all_nav .dropdown span {
  margin-top: 30px;
}
header .all_nav .dropdown:hover .dropdown-content {
  display: block;
}
header .all_nav .dropdown:hover .dropbtn {
  background-color: #fcb941;
  color: #f0f0f0;
}
header .all_nav .dropdown:hover .arrow1 {
  margin-top: -12px;
  margin-left: 22px;
  font-size: 10px;
}
header .all_nav .dropdown:hover .x {
  display: block;
  color: #f1f1f1;
}
header .all_nav .dropdown:hover i {
  display: none;
  position: absolute;
  z-index: 1;
  font-size: 20px;
  padding-top: 20px;
  padding-left: 20px;
}
header .all_nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 255px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header .all_nav .dropdown-content a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}
header .all_nav .dropdown-content a:hover {
  background-color: #f1f1f1;
}
header .all_nav .orders {
  margin-top: 18px;
}
header .all_nav .orders ul {
  list-style: none;
  display: flex;
  gap: 40px;
}
header .all_nav .orders ul li:hover {
  color: #fcb941;
  cursor: pointer;
}
header .all_nav .orders ul #home:hover .dropdown_home {
  display: block;
}
header .all_nav .orders .dropdown_home {
  display: none;
  background-color: #fff;
  box-shadow: 5px 10px #888888;
  position: relative;
  bottom: 18px;
  height: 300px;
  width: 700px;
  z-index: 1;
}
header .all_nav .orders .dropdown_home a {
  text-decoration: none;
  gap: 30px;
  margin-left: 40px;
  margin-top: 50px;
  color: rgb(115, 112, 112);
  cursor: pointer;
}
header .all_nav .orders .dropdown_home a:hover {
  color: #fcb941;
}
header .all_nav .orders #shop:hover .dropdown_shop {
  display: block;
}
header .all_nav .orders .dropdown_shop {
  display: none;
  background-color: #ccc;
  box-shadow: 5px 10px #888888;
  position: relative;
  bottom: 12px;
  left: 100px;
  height: 325px;
  width: 400px;
  z-index: 1;
}
header .all_nav .orders .dropdown_shop a {
  text-decoration: none;
  gap: 30px;
  width: 100px;
  flex-direction: column;
  margin-top: 50px;
  color: rgb(115, 112, 112);
  cursor: pointer;
}
header .all_nav .orders .dropdown_shop a:hover {
  color: #fcb941;
}
header .all_nav .orders #product:hover .dropdown_product {
  display: block;
}
header .all_nav .orders .dropdown_product {
  display: none;
  background-color: #ccc;
  box-shadow: 5px 10px #888888;
  position: relative;
  bottom: 12px;
  left: 200px;
  height: 325px;
  width: 400px;
  z-index: 1;
}
header .all_nav .orders .dropdown_product a {
  text-decoration: none;
  gap: 30px;
  width: 100px;
  flex-direction: column;
  margin-top: 50px;
  color: rgb(115, 112, 112);
  cursor: pointer;
}
header .all_nav .orders .dropdown_product a:hover {
  color: #fcb941;
}
header .all_nav .orders #pages:hover .dropdown_pages {
  display: block;
}
header .all_nav .orders .dropdown_pages {
  display: none;
  background-color: #ccc;
  box-shadow: 5px 10px #888888;
  position: relative;
  bottom: 12px;
  left: 280px;
  height: 325px;
  width: 200px;
  z-index: 1;
}
header .all_nav .orders .dropdown_pages a {
  text-decoration: none;
  gap: 30px;
  width: 100px;
  flex-direction: column;
  margin-top: 50px;
  color: rgb(115, 112, 112);
  cursor: pointer;
}
header .all_nav .orders .dropdown_pages a:hover {
  color: #fcb941;
}
header .all_nav .orders #blog:hover .dropdown_blog {
  display: block;
}
header .all_nav .orders .dropdown_blog {
  display: none;
  background-color: #ccc;
  box-shadow: 5px 10px #888888;
  position: relative;
  bottom: 12px;
  left: 370px;
  display: flex;
  flex-direction: column;
  height: 325px;
  width: 200px;
  z-index: 1;
}
header .all_nav .orders .dropdown_blog a {
  text-decoration: none;
  gap: 30px;
  width: 100px;
  flex-direction: column;
  margin-top: 50px;
  color: rgb(115, 112, 112);
  cursor: pointer;
}
header .all_nav .orders .dropdown_blog a:hover {
  color: #fcb941;
}
header .all_nav .orders #elements:hover .dropdown_elements {
  display: block;
}
header .all_nav .orders .dropdown_elements {
  display: none;
  background-color: #ccc;
  box-shadow: 5px 10px #888888;
  position: relative;
  bottom: 12px;
  left: 450px;
  display: flex;
  flex-direction: column;
  height: 325px;
  width: 200px;
  z-index: 1;
}
header .all_nav .orders .dropdown_elements a {
  text-decoration: none;
  gap: 30px;
  width: 100px;
  flex-direction: column;
  margin-top: 50px;
  color: rgb(115, 112, 112);
  cursor: pointer;
}
header .all_nav .orders .dropdown_elements a:hover {
  color: #fcb941;
}/*# sourceMappingURL=style.css.map */